.App {
    text-align: center;
    min-width: 600px;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.appHeader {
    background-color: #21252e;
    min-height: 8vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(12px + 2vmin);
    color: white;
    left: 0;
}

.information {
    text-align: left;
    margin: 3vh 20%;

}

.welcomeInformation {
    margin-top: 4vh;
    margin-bottom: 3vh;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/*ol > li::marker {*/
/*    font-weight: bold;*/
/*}*/


