.App {
    text-align: center;
}

.appHeader {
    background-color: #21252e;
    min-height: 8vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}


.information {
    text-align: left;
    margin-left: 20%;
    margin-right: 20%;
}

.welcomeInformation {
    margin-top: 2%;
    margin-bottom: 5%;
}

